.App {
  display: flex;
  flex-direction: column;
  padding: 0 10px 0 10px;
  height: 100vh;
  text-align: center;
  background-color: #1f1f1f;
}

.Display {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.NumInput {
  flex: 1 1 auto;
  color: white;
  font-size: 10vmin;
  text-align: right;
}

.Expression {
  flex: 1 1 auto;
  color: #a5a5a5;
  font-size: 24px;
  height: 24px;
  text-align: right;
}

.KeyPad {
  flex: 8 1 auto;
  display: flex;
  flex-direction: row;
}

.NumberPad {
  flex: 3 1 auto;
  display: flex;
  flex-direction: column;
}

.OperatorPad {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.NumberRow {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
}

.Key {
  margin: 1px;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #131313;
  color: #fff;
  font-size: 5vmin;
  user-select: none;
}

.Key:hover {
  background-color: #404040;
}

.NumberKey {
  background-color: #060606;
  font-weight: 500;
}

.OperatorKey {
  font-weight: 100;
}

.EvaluateKey {
  background-color: #134369;
}

.EvaluateKey:hover {
  background-color: #0062b3;
}